/* genel */
* {
    font-size: small;
    font-family: 'Roboto', sans-serif;
    color: white;
}

body {
    background-color: rgba(20, 26, 43, 255);
}

.cont-marg {
    margin-top: 15%;
}
.title{
    font-size: medium;
}
.text {
    color: rgb(161, 159, 159);
}
.icon {
    font-size: large;
    background-color: #1649ff;
    border-radius: 50%;
}


.toggle-btn,
.tog-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    padding: 0;
}

a {
    text-decoration: none;
}
ul {
    padding: 0;
    list-style-type: none;
}
/* buttons-bg */
.button {
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg1 {
    background-color: #1649ff;
    color: white;
}

.bg1:hover {
    background-color: rgb(22, 73, 255, 0.6);
}

.bg2 {
    background-color: rgb(174, 167, 167, 0.3);
    color: white;
}

.bg2:hover {
    background-color: rgb(174, 167, 167, 0.6);
}

.bg3 {
    background-color: white;
    color: #1649ff;
}

.bg3:hover {
    background-color: rgb(255, 255, 255,0.6);
    color: #1649ff;
}

.bg4 {
    background-color: rgba(204, 197, 197, 0.3);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.bg4:hover {
    background-color: rgba(204, 197, 197, 0.6);
}

/* defi-hero */
.dropdown-menu{
    background-color: #263252;
}
.defi-hero-heading {
    font-size: 40px;
}
.dropdown-item{
    color: white;
}
.dropdown-item:hover{
    background-color: #1649ff;
    color: white;
}
.defi-hero-photo {
    width: 100%;
    height: 20px;
    background: linear-gradient(to top,
            rgba(20, 26, 43, 1),
            rgba(20, 26, 43, 0.3)), url("../img/hero-smartphone.png");
    background-size: cover;
}

.defi-hero-content {
    margin-top: 100px;
}

.defi-hero-icons ul li {
    position: relative;
    display: inline-block;
    margin-left: 60px;

}

.hero-icon {
    color: rgb(161, 159, 159);
    font-size: medium;
}

/* why-defi */
.why-defi-boxes{
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}
.box{
    padding: 20px 15px;
    background-color: #1d263b;
    border-radius: 10%;
    }
.why-defi-icon {
    border-radius: 50%;
    font-size: x-large;
}
/* how-work */
.how-work-title {
    max-width: 330px; 
    margin: 0 auto; 
}
.how-work-box {
    background-color: #1d263b;
    border-radius: 10%;
    position: relative;
}
.how-work-photo{
    width: 100%;
    background-image: url("../img/human.png");
    background-size: cover;
    background-position: center;
}

.how-work-icon-a {
    transform: translateX(-50%);
    bottom: 20px;
    left: 50%;
    position: absolute;
}

.how-work-icon {
    background-color: #1649ff;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 50px;
}
.how-work-content .card-header button,
.defi-popular-content .card-header button{
   text-decoration: none;
   color: white;
}

/* defi-popular */
.wrapper{
    max-height: 100%;
    border: 10% solid rgba(20, 26, 43, 255);
    overflow-x: auto;
    
}
.wrapper::-webkit-scrollbar {
    width: 0;
}

.defi-popular-boxes,
.about-us-boxes{
    gap: 15px;
}
.defi-popular-box,
.about-us-box {
   padding: 50px 25px;
   background-color: #1d263b;
   border-radius: 10%;
}

/* defi-advertisement */
.defi-advertisement-box {
    background-color: #1649ff;
    border-radius: 25px;
    
}
.defi-advertisement-photo{
    width: 700px;
    margin: -120px auto 0rem;
}


/* def-news */
.defi-news-box1,
.defi-news-box2 {
    width: 100%;
    height: 420px;
    background-color: #263252;
    border-radius: 20px;
    background-size: contain;
    background-repeat: no-repeat;
}

.defi-news-box1 {
    background-image: url("../img/defi-news-phone.png");
}

.defi-news-box2 {
    background-image: url("../img/defi-news-card.png");
}

.defi-news-content {
    min-height: 150px;
    background-color: #1d263b;
    padding: 30px 20px;
    border-radius: 0 0 20px 20px;
}

/* footer */
.social-icon {
    background-color: rgb(174, 167, 167, 0.3);
    border-radius: 10%;
    padding: 2%;
    font-size: smaller;
}
.social-icon:hover,
.links:hover {
    font-size: small;
    color: white;
}
.email-input {
    background-color: #1d263b;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-style: solid;
    padding: 10px;
}

.email-input::placeholder {
    color: white;
    font-size: smaller;
}
.email-input:hover {
   background-color: #263252;
   color: white;
}


@media screen and (min-width: 576px){
    .defi-hero-photo {
        margin-top: 20px;
        height: 200px;
        background-position: center;
    }
      /* defi-popular */
      .defi-popular-box,
      .about-us-box {
       min-width: calc(50% - 8px);
   }
}
@media screen and (min-width: 768px) {
/* defi-hero */
.defi-hero-photo {
    height: 450px;
    background-position: center;
}
 /* how-work */
 .how-work-photo{
    height: 300px;
}
.how-work-box{
    min-width: 250px;
}

.defi-popular-box,
.about-us-box {
 min-width: calc(33.333% - 10px);
}

}
@media screen and (max-width:768px){
    .why-defi-boxes{
        grid-template-columns: repeat(auto-fit,minmax(190px,1fr));
    }
    .navbar-collapse{
        margin-top: 15px;
        background-color: #263252;
        color: white;
        border-radius: 10%;
    }
    .nav-item:hover{
        background-color: #1649ff;
    }
    .dropdown-item:hover{
        background-color: #263252;
        color: white;
    }
    .dropdown-menu{
        background-color: #1d263b;
    }
    .dropdown:hover{
        background-color: #263252;
    }
      /* defi-popular */
      .defi-popular-box,
      .about-us-box {
       min-width: calc(50% - 8px);
   }
     /* defi-advertisement */
     .defi-advertisement-photo{
        width: 500px;
        min-height: 35vh;
        margin: -90px auto 0rem;
    }
.reklamButon{
    display: none;
}
}
@media screen and (max-width: 576px) {
    /* genel */
    .text{
        font-size: 10px;
    }
    h2{
        font-size: 18px;
    }
    /* defi-hero */
        .defi-hero-heading {
        font-size: 23px;
    }
    .defi-hero-photo {
        margin-top: 20px;
        height: 250px;
        background-position: center;
    }
    /* how-work */
    .how-work-photo{
        height: 200px;
    }
    .how-work-icon-a {
        top: 70%;
    }
    .how-work-icon-a {
       display: none;
    }
       /* defi-popular */
       .defi-popular-box,
       .about-us-box {
        min-width: calc(100%);
   }
   /* defi-advertisement */
   .defi-advertisement-photo{
    width: 220px;
    margin: -50px 0px 0rem;
}
    /* defi-news */
    .defi-news-box1,
    .defi-news-box2 {
        height: 320px;
    }  
 
}
